
{% extends "base.html"%}

{% block body_block %}
    <h1>Welcome to a list of all the Codes:</h1>
    <table class="table">
    <thead class="table-dark">
        <th>User Name</th>
        <th>Code</th>
        <th>Validate Date</th>
        <th>MAC Address</th>
    </thead>
        {% for uni_code in all_item %}
        {{uni_code.id}}
        <tr>
            <td><a href="/register/{{ uni_code.id}}">{{ uni_code.user }}</a></td>
            <td>{{ uni_code.code }}</td>
            <td>{{ uni_code.expired }}</td>
            <td>{{ uni_code.mac_address }}</td>
        </tr>
        {% endfor %}
    
    </table>
    {% endblock %}
