{% extends 'base.html' %}
{% block body_block %}

<div class="jumbotron">
    <h1>Welcome to the Code Detail Page</h1>
    <h2>Code details:</h2>
    <form action="/register/{row.id}" enctype="multipart/form-data" method="post">
        <label>User</label>
        <br>
        <input name="user" type="user" value={{user}}>
        <br>
        <br>
        <label> Code</label>
        <br>
        {{code}}
        <br>
        <br>
        <label>Expired</label>
        <br>
        <input name="expired" type="expired" value={{expired}}>
        <br>
        <br>
        <label>Mac Address</label>
        <br>
        <input name="mac_address" type="mac_address" value={{mac_address}} >
        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Update"><a class='btn btn-danger' href="/delete/{{row.id}}">Delete</a>
        <a class='btn btn-warning' href="/">Cancel</a>
    </form>

</div>

{% endblock %}
<h1></h1>
