<html>
    <head>
        <title>CODE APP</title>
      
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
      
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>


    </head>
<body>
    <script>
    $(document).ready(function () {
      var num;
      var input;
      var filter_item=[];
      /*
      $("#add_button").click(function () {
        $("#add").modal("show");
      });
    */
 
      $("#start_datepicker").datepicker();
      $("#end_datepicker").datepicker();
      $("#expired_datepicker").datepicker();
      $("#input_expired_datepicker").datepicker();
      $("#save_button").click(function () {
        client = $("#input_client").val();
        expired = $("#input_expired_datepicker").val();
        mac_address=$("#input_mac_address").val();
        console.log(client);
        console.log(expired);
        console.log(mac_address);
        expired_buffer = expired.split("/");
        expired_handle = expired_buffer[2] + expired_buffer[0] + expired_buffer[1];
        $.ajax({
          url: "/register",
          type: "POST",
          //data: { "user": user, "code":,"expired":expired, "mac_address":mac_address },
          data: JSON.stringify({ "user": client,"expired":expired_handle, "mac_address":mac_address }),
          success: function () { 
          alert("Success ADD!")  //請求成功後執行的操作
          //window.location.href="/"; //重新整理頁面
        }  
    }).then(setTimeout(location.reload.bind(location), 200));
      }
      
      );
      /*
      $(".btn-primary").click(function () {
        num = this.id;
        console.log(num);
        $.ajax({
          url: "/register/" + num,
          type: "GET",
        }).then(function (c) {
          $("#edit_client").val(c.user);
          $("#edit_expired").val(c.expired);
          $("#edit_mac_address").val(c.mac_address);
          $("#update").modal("show");
        });
      });
      */
      $("#edit_save_button").click(function () {
        
        client = $("#edit_client").val();
        expired = $("#edit_expired").val();
        mac_address=$("#edit_mac_address").val();
        console.log(client);
        
        $.ajax({
          url: "/register/" + num,
          type: "PUT",
          data: JSON.stringify({ "user": client,"expired":expired, "mac_address":mac_address }),
          success: function () { 
          alert("Success Edit!")  //請求成功後執行的操作
           window.location.reload()  //重新整理頁面
        }
        }).then(setTimeout(location.reload.bind(location), 200));
      });
      
      $(".btn-secondary").click(function () {
        num=this.id;
        alert("Start to Download !")
        $.ajax({
          url: "/downloadfile/" + num,
          type: "get",
          data: JSON.stringify({ "code_id": num}),
          
        }).then(setTimeout(location.reload.bind(location), 200));
      });
      $(".btn-danger").click(function () {
        num = this.id;
        input = document.getElementById("saved_text_" + num).innerHTML;
        console.log(input);
        $.ajax({
          url: "/register/" + num,
          type: "DELETE",
        }).then(setTimeout(location.reload.bind(location), 200));
      });
      $("#client_search_button").click(function () {
        
        q=$("#search_bar").val();
      
        //q = document.getElementById("search_bar").innerHTML;
        
        $.ajax({
          url: ((q==null)?"/":"/client/" + q),
          type: "GET",
          success: function (filter_item) { 
          window.location.href=((q==null)?"/":"/client/" + q);
        }
        });
      });
      $("#mac_search_button").click(function () {
        
        mac=$("#mac_search").val();
        
        //q = document.getElementById("search_bar").innerHTML;
        
        $.ajax({
          url: ((mac==null)?"/":"/mac/" + mac),
          type: "GET",
          success: function (filter_item) { 
          window.location.href=((mac==null)?"/":"/mac/" + mac);
        }
        });
      });
       
      $("#date_search_button").click(function () {
        start=$("#start_datepicker").val();
        end=$("#end_datepicker").val();
        console.log(end.length);
        
        var start_buffer="";
        var start_handle="";
        var end_buffer="";
        var end_handle="";
        if (start.length != 0){
          
          start_buffer = start.split("/");
          start_handle = start_buffer[2] + start_buffer[0] + start_buffer[1];
        }
        if (end.length != 0){
         
          end_buffer = end.split("/");
          end_handle = end_buffer[2] + end_buffer[0] + end_buffer[1];
        }
        var date_bind="";
        if(start_handle != null || end_handle!= null ){
          date_bind=start_handle+"_"+end_handle;
        }
        
        $.ajax({
          url: ((date_bind.length <= 1 )?"/":"/date/" + date_bind),
          type: "GET",
          success: function () { 
          window.location.href=((date_bind.length <= 1 )?"/":"/date/" + date_bind);
        }
        });
      });
      $("#cancel_button").click(function () {
        
        $("#mac_search").val("");
        $("#search_bar").val("");
        //q = document.getElementById("search_bar").innerHTML;
        $.ajax({
          url: "/",
          type: "GET",
          success: function (filter_item) { 
          window.location.href="/";
        }
        });
      });
       
    });
    function show_hide(){
      var x = document.getElementById("add_section");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
    
<div class="ui raised very padded text container segment">
    <h1 class="display-4" style="text-align: center;">Code LIST</h1>
    <button type="button" class="btn btn-primary" id="add_button" onclick="show_hide()">
      Add
    </button>
    <div id="add_section" style="display:none" class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Client <input type="text" placeholder="New Client....." id="input_client" class="input-group-text"/></span>
       
      <span class="input-group-text" id="inputGroup-sizing-default">Expired <input type="text" placeholder="New Expired....." id="input_expired_datepicker" class="input-group-text"/></span>
           
      <span class="input-group-text" id="inputGroup-sizing-default">MAC Address <input type="text" placeholder="New MAC Address....." id="input_mac_address" class="input-group-text"/></span>
       
      
      <button type="button"  id="save_button" class="btn btn-outline-success">Save</button>
    </div>
    
    <h2 class="display-4">Code Management</h2>

    <div class="container">
      
      <div class="input-group mb-3">
        <input type="text" id="search_bar" name="q" class="form-control" placeholder="Search Client...">
        <button class="btn btn-primary" id="client_search_button">Search</button>
        <input type="text" id="mac_search" name="mac" class="form-control" placeholder="Search MAC address...">
        <button class="btn btn-primary" id="mac_search_button">Search</button>
      </div>
      <div class="input-group mb-3">
        <p>Start </p><br/>
        <input type="text" id="start_datepicker" class="form-control">
        <p>End</p> <br/>
        <input type="text" id="end_datepicker" class="form-control">
        <button id="date_search_button" class="btn btn-primary">Search</button>
      </div>
      <br>
      
    <br/>
      <button class="btn btn-warning" id="cancel_button">Cancel</button>
      
  </div>
  <div class="card">
  
 
   
      {% for item in all_item%}
      <table class="table table-striped">
    
        <tr class="table-light">
          <td class="table-light" id="saved_text_{{item['id']}}">Client:{{item['user']}}</td>
          <td class="table-light">Expired:{{item['expired']}}</td>
          <td class="table-light">MAC_ADDRESS:{{item['mac_address']}}</td>
          <td><button class="btn btn-primary" id="{{item['id']}}"> 
            Edit
          </button>
        
          <button class="btn btn-danger" id="{{item['id']}}">
            
            Delete
          </button>
          
          <a href="/download/{{item['id']}}" class="btn btn-secondary" id="{{item['id']}}" download="licensefile.skm">
            
            Download
          </a>
          </td>
        </tr>
        
        
      </table>
      {% endfor %}
     
  </div>

    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Code</h5>
            
          </div>
          <div class="modal-body">
            <input type="text" placeholder="New Client....." id="input_client" />
            
            <input type="text" id="expired_datepicker">
            <input type="text" placeholder="MAC Address....." id="input_mac_address" />
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
      </div>
    </div>

  <div class="modal" id="update">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="New Client....." id="edit_client" />
          <input type="text" id="edit_expired">
          <input type="text" placeholder="MAC Address....." id="edit_mac_address" />
        </div>
        <div class="actions">
          <button type="button"  id="edit_save_button" class="btn btn-secondary" data-bs-dismiss="modal">Save</button>
        </div>
        
      </div>
    </div>
  </div>

   <!--
    <div class="ui tiny modal" id="add">
      <div class="header">New Code</div>
      <div class="content">
        <div class="ui fluid icon input">
          <input type="text" placeholder="New Client....." id="input_client" />
          
          <input type="text" id="expired_datepicker">
          <input type="text" placeholder="MAC Address....." id="input_mac_address" />
        </div>
      </div>
      <div class="actions">
        <div class="ui approve button" id="save_button">Save</div>
      </div>
    </div>

    <div class="ui tiny modal" id="update">
      <div class="header">Update Code</div>
      <div class="content">
        <div class="ui fluid icon input">
           <p>Client </p> 
          <input type="text" id="edit_client" />
          <p>Expired </p>
          <input type="text" id="edit_expired" />
          <p>MAC Address </p>
          <input type="text" id="edit_mac_address" />
        </div>
      </div>
      <div class="actions">
        <div class="ui approve button" id="edit_save_button">Save</div>
      </div>
    </div>
  -->
  
  </body>

</html>