<html>
    <head>
        <title>CODE APP</title>
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
        />
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      </head>
<body>
    <script>
    $(document).ready(function () {
      var num;
      var input;
      $("#add_button").click(function () {
        $("#add").modal("show");
      });
      $("#save_button").click(function () {
        user = $("#input_user").val();
        expired = $("#input_expired").val();
        mac_address=$("#input_mac_address").val();
        console.log(user);
        $.ajax({
          url: "/register",
          type: "POST",
          //data: { "user": user, "code":,"expired":expired, "mac_address":mac_address },
          data: JSON.stringify({ "user": user,"expired":expired, "mac_address":mac_address }),
          success: function () { 
          alert("Success ADD!")  //請求成功後執行的操作
           window.location.reload()  //重新整理頁面
        }  
    }).then(setTimeout(location.reload.bind(location), 200));
      });
      $(".mini.ui.primary.button").click(function () {
        num = this.id;
        console.log(num);
        $.ajax({
          url: "/register/" + num,
          type: "GET",
        }).then(function (c) {
          $("#edit_user").val(c.user);
          $("#edit_expired").val(c.expired);
          $("#edit_mac_address").val(c.mac_address);
          $("#update").modal("show");
        });
      });
      $("#edit_save_button").click(function () {
        
        user = $("#edit_user").val();
        expired = $("#edit_expired").val();
        mac_address=$("#edit_mac_address").val();
        console.log(user);
        
        $.ajax({
          url: "/register/" + num,
          type: "PUT",
          data: JSON.stringify({ "user": user,"expired":expired, "mac_address":mac_address }),
          success: function () { 
          alert("Success Edit!")  //請求成功後執行的操作
           window.location.reload()  //重新整理頁面
        }
        }).then(setTimeout(location.reload.bind(location), 200));
      });
      $(".mini.ui.green.button").click(function () {
        num=this.id;
        alert("downloading..")
        $.ajax({
          url: "/download/" + num,
          type: "get",
          data: JSON.stringify({ "code_id": num}),
          
        }).then(setTimeout(location.reload.bind(location), 200));
      });
      $(".mini.ui.red.button").click(function () {
        num = this.id;
        input = document.getElementById("saved_text_" + num).innerHTML;
        console.log(input);
        $.ajax({
          url: "/register/" + num,
          type: "DELETE",
        }).then(setTimeout(location.reload.bind(location), 200));
      });
    });
  </script>
    
<div class="ui raised very padded text container segment">
    <h1 style="text-align: center;">Code LIST</h1>
    <button class="ui primary button" id="add_button">
      <i class="plus icon"></i>
      Add
    </button>
    <h2 class="ui header">Code Management</h2>
    <hr />
    <div class="ui middle aligned divided list">
      {% for item in all_item%}
      <div class="item">
        <div class="right floated content">
          <button class="mini ui primary button" id="{{item['id']}}">
            <i class="pencil alternate icon"></i>
            Edit
          </button>
          
          <button class="mini ui red button" id="{{item['id']}}">
            <i class="trash icon"></i>
            Delete
          </button>
          <button class="mini ui green button" id="{{item['id']}}" value="{{item['code']}}">
            <i class="bi bi-cloud-arrow-down"></i>
            Download
          </button>
        </div>
        <div class="content">
          <p id="saved_text_{{item['id']}}">User:{{item['user']}}</p>
          <p>Expired:{{item['expired']}}</p>
          <p>MAC_ADDRESS:{{item['mac_address']}}</p>
        </div>
        
      </div>
      {% endfor %}
    </div>
   
    <div class="ui tiny modal" id="add">
      <div class="header">New Code</div>
      <div class="content">
        <div class="ui fluid icon input">
          <input type="text" placeholder="New user....." id="input_user" />
          <input type="text" placeholder="Expired....." id="input_expired" />
          <input type="text" placeholder="MAC Address....." id="input_mac_address" />
        </div>
      </div>
      <div class="actions">
        <div class="ui approve button" id="save_button">Save</div>
      </div>
    </div>
    <div class="ui tiny modal" id="update">
      <div class="header">Update Code</div>
      <div class="content">
        <div class="ui fluid icon input">
           <p>User </p> 
          <input type="text" id="edit_user" />
          <p>Expired </p>
          <input type="text" id="edit_expired" />
          <p>MAC Address </p>
          <input type="text" id="edit_mac_address" />
        </div>
      </div>
      <div class="actions">
        <div class="ui approve button" id="edit_save_button">Save</div>
      </div>
    </div>
  </div>
  </body>

</html>