<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <h1> Record New Code</h1>
    <div class="container-fluid">
      <form method="POST" class="row g-3">
          {{ form|crispy }}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>

  </body>
</html>